/_build
*.bak
/tmp

/setup.data
/setup.log
/setup.ml
/*.byte
/*.native

/lib/META
/lib/oloop.mldylib
/lib/oloop.mllib
/lib/oloop_conf.ml
/lib/oloop_ocaml.ml
/lib/oloop_rule.ml
/lib/oloop_types.ml

/app/app_conf.ml
