/_build
*.bak
/tmp
/setup.data
/setup.log
/setup.ml
*.native
*.byte
/myocamlbuild.ml
META
*.mldylib
*.mllib
/API.docdir
/app/app_conf.ml
/lib/oloop_conf.ml
/lib/oloop_ocaml.ml
/lib/oloop_top.ml
/lib/oloop_types.ml
/tests/example*.txt
